<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h4>Control Flow Statement</h4>
    <h3><span>&#64;</span> For,<span>&#64;</span> Switch Case, </h3>

</div>

<div class="row">
    <div class="col-3">
        <input type="text"  [(ngModel)]="dayNumber"/> 
    </div>
    <div class="col-3">
        Day Name is : 
        @switch (dayNumber) {
            @case ('1') {
                <span>Monday</span>
            }
            @case ('2') {
                <span>Tuesday</span>
            }
            @case ('3') {
                <span>Wednesday</span>
            }
            @case ('4') {
                <span>thursday</span>
            }
            @case ('5') {
                <span>friday</span>
            }
            @case ('6') {
                <span>sat</span>
            }
            @case ('7') {
                <span>sun</span>
            }
            @default {
                <span>Wrong Entry</span>
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-3">
        <ul>
            @for (item of cityArray; track $index) {
                <li> {{item}}</li>
            }
            
        </ul>
    </div>
    <div class="col-3">
        @for (item of cityArray; track $index) {
            <div> {{item}}</div>
        }
        
    </div>
    <div class="col-3">
        <select>
            @for (item of cityArray; track $index) {
                <option> {{item}}</option>
            }
            
        </select>
    </div>
    <div class="col-3">
        <select>
            @for (item of studentList; track $index) {
                <option [value]="item.studId"> {{item.name}} </option>
            }
           
        </select>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of studentList; track $index) {
                    <tr>
                        <td> {{$index+1}}</td>
                        <td>  {{item.name}}</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                }
               
            </tbody>
        </table>
    </div>
</div>