<div class="row" appDisableCopy>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>user name</th>
                </tr>
            </thead>
            <tbody>
                @for (item of userList(); track $index) {
                    <tr>
                        <td> {{$index+1}}</td>
                        <td>  {{item.name}}</td>
                        <td>  {{item.email}}</td>
                        <td>  {{item.username}}</td>
                    </tr>
                }
               
            </tbody>
        </table>
    </div>
    <div class="col-2">
        {{name}}
    </div>
    
</div>