<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>ng-container</h1>
</div>
<div class="row">
    <div class="col-4">
        <ng-container *ngIf="isConatiner">
            <p>This is From ng-container</p>
        </ng-container>
    </div>
    <div class="col-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="isApi">
                    <tr>
                        <td colspan="4" class="text-center">
                            <div class="spinner-grow text-muted"></div>
                            <div class="spinner-grow text-primary"></div>
                            <div class="spinner-grow text-success"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-warning"></div>
                            <div class="spinner-grow text-danger"></div>
                            <div class="spinner-grow text-secondary"></div>
                            <div class="spinner-grow text-dark"></div>
                            <div class="spinner-grow text-light"></div>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="!isApi">
                    <tr *ngFor="let student of userList;let srNo = index">
                        <td> {{srNo +1}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.username}}</td>
                        <td>{{student.email}}</td>
    
                    </tr>
                </ng-container>
               
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <ng-container *ngTemplateOutlet="myTem">

        </ng-container>
    </div>
</div>
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
        <button class="btn btn-primary" (click)="getUser()">Load Users </button>
    </div>
    <div class="col-4">

    </div>
</div>

<ng-template #myTem>
    <p>Hi From tempalte</p>
</ng-template>