<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Attribute Directive</h1>
    <p>[ngClass], [ngStyle]</p>
    <button class="btn btn-primary" [routerLink]="['/structural-dir']"  >Go To Structural</button>
</div>
<div class="row pt-3">
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="div1BgColor">
            <h4>Div-1 </h4>
        </div>
    </div>
    <div class="col-3">
        <div class=" p-3 text-center" [ngClass]="isDiv2Active == true ? 'bg-success' : 'bg-warning' ">
            <h4>Div-2 </h4>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="num1 == num2 ? 'bg-secondary text-white' :'bg-danger text-primary'">
            <h4>Div-3 </h4>
        </div>
    </div>
    <div class="col-3">
        <div class=" p-3 text-center" [ngClass]="isActive ? 'bg-primary': '' ">
            <h4>Div-4 </h4>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="addRedClass()">Add Red</button>
        <button class="btn btn-primary mx-2" (click)="addBlueClass()">Add Blue</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2Class()">Toggle</button>
    </div>
    <div class="col-3">
        <div style="display: flex;align-items:center">
            <input type="text" [(ngModel)]="num1" placeholder="Num-1" class="width-50">
            <input type="text" [(ngModel)]="num2" placeholder="Num-2" class="width-50">
        </div>
    </div>
    <div class="col-3">
        <div style="display: flex;align-items:center">
            <input type="checkbox" [(ngModel)]="isActive" class="width-50">
            <select>
                <option value="">Select State</option>
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="Shrilanka">Shrilanka</option>
            </select>
        </div>
    </div>
</div>



<div class="row pt-4">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Total Mark</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stud of studentList">
                    <td> {{stud.name}} </td>
                    <td> {{stud.city}} </td>
                    <td [ngStyle]="{'background-color':stud.isActive ? 'yellow' : 'red'}">
                        <span> {{stud.isActive ? 'Active': 'De-Active'}}</span>
                    </td>
                    <td> {{stud.gender}} </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width':stud.totalMarks+'%'}">{{stud.totalMarks}}
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-5">
        <div [ngStyle]="customerStyle">
            Div Test
        </div>
    </div>
</div>